@import url(variables.css);

.button {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: var(--bordeR-4);
    padding: 0.4rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--black-50);
    border-radius: 0.4rem;
}

.button-filled {
    background: var(--black-500);
    border-radius: var(--borderR-8);
    color: var(--white-50);
    width: fit-content;
    transition: all 0.2s ease;
    border: none; 
    cursor: pointer;
}

.button-filled:hover:not(:disabled) {
    background: var(--black-400);
}

.button-filled:focus,
.button-filled:focus-visible {
    outline: none; 
    box-shadow: 0 0 0 0.1rem var(--black-100); 
}

.button-filled:active:not(:disabled),
.button-filled.is-selected,
.button-filled[aria-pressed="true"] {
    background: var(--black-300);
    box-shadow: none; 
}

.button-filled:disabled,
.button-filled[aria-disabled="true"] {
    opacity: 0.4; 
    cursor: not-allowed; 
    pointer-events: none; 
}

.button-empty {
    background: var(--black-50);
    border-radius: var(--borderR-8);
    border: var(--borde-2) solid var(--black-500); 
    color: var(--black-900);
    width: fit-content;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button-empty:hover:not(:disabled) {
    background: var(--black-100);
}

.button-empty:focus,
.button-empty:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.1rem var(--black-100);
}

.button-empty:active:not(:disabled),
.button-empty.is-selected,
.button-empty[aria-pressed="true"] {
    background: var(--black-200);
    box-shadow: none;
}

.button-empty:disabled,
.button-empty[aria-disabled="true"] {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.button-lg {
    padding: var(--padding-16) var(--padding-24);
    font-size: var(--button-lg);
}

.button-md {
    padding: var(--padding-8) var(--padding-16);
    font-size: var(--button-md);
}

.button-sm {
    padding: var(--padding-4) var(--padding-8);
    font-size: var(--button-sm);
}

/* iPads */
@media (max-width: 768px) {
    .button-lg {
        padding: var(--padding-8) var(--padding-16);
        font-size: var(--button-md);
    }
}

/* Smartphones */
@media (max-width: 575px) {

    .button-lg,
    .button-md {
        padding: var(--padding-4) var(--padding-8);
        font-size: var(--button-sm);
    }
}